body {
    background-color: hsl(217, 54%, 11%) ;
    width: 100%;
    height: 100%;
}
main {
    font-family: 'Outfit', sans-serif;
    display:flex;
    flex-direction: column;
    width:25%;
    
    font-size:18px;
    padding : 1em;
    border-radius:.5em;
    background-color: hsl(216, 50%, 16%) ;
    /* centering card */
    justify-content: center;
    margin:auto;
}
#main {
    border-radius:.5em;
    height:13em;
}

#first {
    text-decoration: none;
    color:hsl(0, 0%, 100%);
    font-family: 'Outfit', sans-serif;
    font-weight: 600;
    margin-top:1em;
}

#par1 {
    font-family: 'Outfit', sans-serif;
    font-size: 14px;
    color: hsl(215, 51%, 70%);
    opacity: 50%;
}

ul {
    list-style: none;
    display:flex;
    padding:0px;
    margin-top: .1em;
    color: hsl(215, 51%, 70%);
    font-size:12px;
    /* adding the line to bottom */
    border-bottom: 1px solid hsl(215, 32%, 27%);
    padding-bottom: 1.4em;
}

#eth {
    margin-right:auto;
    color:hsl(178, 100%, 50%);
}

#ethereum {
    width: .7em;
    height:1.2em;
    margin-right: .3em;
    vertical-align: text-top;
}

#clock {
    width:1.2em;
    height:1.2em;
    margin-right: .3em;
    vertical-align: sub;
    
}

#container {
    display: flex;
    font-size: 14px;
    
}

#avatar {
    width:1.5em;
    height: 1.5em;
    margin-right: 1em;

}

#second {
    text-decoration: none;
    color: hsl(215, 51%, 70%);
    font-family: 'Outfit', sans-serif;

}

span {
    color:hsl(0, 0%, 100%);
}